.product.ng-enter, .classified.ng-move {
  transition: 0.4s all;
  opacity: 0;
}

.product.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active {
  opacity: 1;
}

.product.ng-leave {
  animation: 0.4s fade_classified;
}

@keyframes fade_classified {
  from { opacity: 1; }
  to {opacity: 0; }
}