
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Apple Store</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css">
</head>
<!-- The name of the module in the app.js -->
<!-- ng-init: anything within it runs when the app is initialized -->
<body ng-app="ngProducts">
  <ui-view></ui-view>
  <!-- <h1>{{ message }}</h1> -->
  <!-- Scope Obj -->
  <!-- <button ng-click="showAuthor = true">Show Name</button>
    <button ng-click="showAuthor = false">Hide Name</button> -->
    <!-- <h1 ng-show="showAuthor">Author: {{ name.first + ' ' + name.last}}</h1> -->

    <!-- 2 ways Data Binding -->
    <!-- <input type="text" placeholder="Enter your name" ng-model="name"> -->
    <!-- <hello-world></hello-world> -->


<script src="node_modules/angular/angular.js"></script>
<script src="scripts/app.js"></script>
<script src="components/products/products.ctr.js"></script>
<script src="components/products/products.fac.js"></script>
<script src="components/products/new/products.new.ctr.js"></script>
<script src="components/products/edit/products.edit.ctr.js"></script>
<script src="components/products/card/product-card.dir.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>

<!-- Angular Material requires Angular.js Libraries -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
<!-- UI Router -->
<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>

<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/1.1.3/angularfire.min.js"></script>
</body>
</html>
