<md-card ng-repeat="product in products | 
filter: productsFilter | 
filter: category" flex="30"
class="product">
<img class="img-fluid" style="height: 400px;" ng-src="{{product.image}}" alt="">
<md-card-content>
  <div class="classified-info" ng-show="!showContact">
    <h2 class="md-title">{{product.title}}</h2>
    <h2>{{product.posted | date:'longDate'}}</h2>
    <h3>{{product.price | currency}}</h3>
    <p>{{product.description}}</p>
  </div>

  <div class="classified-contact" ng-show="showContact">
    <p>
      <md-icon class="mdi mdi-account"></md-icon>
      {{product.contact.name}}
    </p>
    <p>
      <md-icon class="mdi mdi-phone"></md-icon>
      {{product.contact.phone}}
    </p>
    <p>
      <md-icon class="mdi mdi-email"></md-icon>
      {{product.contact.email}}
    </p>
  </div>

  <div layout="row">
    <md-button 
    ng-click="showContact = true"
    ng-show="!showContact">Contact</md-button>
    <md-button 
    ng-click="showContact = false"
    ng-show="showContact">Details</md-button>
    <md-button 
    ng-click="showAdmin = true"
    ng-show="!showAdmin">Admin</md-button>
    <md-button 
    ng-click="showAdmin = false"
    ng-show="showAdmin">Close</md-button>
  </div>

  <!-- ng-if : will actually remove or insert in DOM if it is false or true -->
  <div class="classified-admin" ng-if="showAdmin">
    <h3>Admin</h3>
    <div layout="row">
      <md-button class="md-primary" ng-click="vm.editProduct(product)">Edit</md-button>
      <md-button class="md-warn" ng-click="vm.deleteProduct(product, $event)">Delete</md-button>
    </div>
  </div>
</md-card-content>
</md-card>