    <md-toolbar>
      <div class="md-toolbar-tools">
        <p><strong>Apple Store</strong></p>
        <md-button ng-click="vm.openSidebar()">
          <md-icon class="mdi mdi-plus-circle mb-3"></md-icon>
          New Product
        </md-button>
        <md-button ng-click="showFilters = true">
          <md-icon class="mdi mdi-magnify mb-3"></md-icon>
          Filters
        </md-button>
      </div>
    </md-toolbar>

    <div class="filters" layout="row" layout-align="center" ng-show="showFilters">
      <md-input-container>
        <label>Enter Search Term</label>
        <input type="text" ng-model="productsFilter">
      </md-input-container>
      <md-input-container>
        <label>Category</label>
        <md-select ng-model="category">
          <md-option ng-repeat="category in vm.categories" value="{{category}}">{{category}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <md-button class="md-warn mt-0" ng-click="productsFilter = ''; category = ''">Clear</md-button>
      </md-input-container>
    </div>

    <!-- Add New Product -->
    <ui-view></ui-view>

    <md-content>
      <product-card 
      products="vm.products"
      products-filter = "productsFilter"
      category="category"
      class="md-padding" 
      layout="row" 
      layout-wrap>
      </product-card>
    </md-content>

