<md-sidenav id="sidenav" class="md-sidenav-left md-whiteframe-z2" 
md-component-id="left"
md-is-open="vm.sidenavOpen">
<md-toolbar>
  <h1 class="md-toolbar-tools">Edit Product</h1>
</md-toolbar>

<md-content layout-padding>
  <form>
    <md-input-container>
      <label for="title">Title</label>
      <input type="text" id="title" autocomplete="off"
      ng-model="vm.product.title"
      md-autofocus >
    </md-input-container>
    <md-input-container>
      <label for="price">Price</label>
      <input type="text" id="price" autocomplete="off" ng-model="vm.product.price">
    </md-input-container>
    <md-input-container>
      <label for="description">Description</label>
      <input type="text" id="description" autocomplete="off" ng-model="vm.product.description">
    </md-input-container>
    <md-input-container>
      <label for="image">Image Link</label>
      <input type="text" id="image" autocomplete="off" ng-model="vm.product.image">
    </md-input-container>

    <md-button class="md-primary" ng-click="vm.saveEdit()">Save Edit</md-button>
    <md-button class="md-warn"  ng-click="vm.closeSidebar()">Cancel</md-button>
    <!-- <button onclick="closeSidebar()">Cancel</button> -->

    <!-- <pre>{{product|json}}</pre> -->
  </form>
</md-content>
</md-sidenav>
